body {
  background-color: #461313;
  color: white;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
  overflow: hidden;
}

#title {
  font-family: Big Noodle Too, impact, sans-serif;
  font-size: 50px;
  display: flex;
  flex: 1;
  max-height: 50px;
}

#yololText {
  display: flex;
  flex: 1;
  padding-bottom: 20px;
  overflow: hidden;
}

#yololInput {
  flex: 3;
  background-color: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 20px;
  border-style: none;
  resize: none;
  overflow: auto;
}

#yololOutput {
  flex: 3;
  padding: 10px;
  font-family: Comic Sans Ms;
  font-size: 20px;
  overflow: auto;
  transition: background-color 1s;
}

#copyButton {
  width: 50px;
  height: 50px;
}

#footer {
  max-height: 50px;
  background-color: #222222;
  height: 50px;
  flex: 1;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

button {
  border-style: none;
  background-color: #222222;
  font-size: 20px;
}

button:hover {
  background-color: #333333;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

@font-face {
  font-family: "Big Noodle Too";
  src: url("assets/fonts/big_noodle_titling_oblique.ttf");
}
@font-face {
  font-family: "Comic Sans Ms";
  src: url("assets/fonts/COMIC.TTF");
}
